$primary-color: #facc15;
$background-color: #1a202c;
$surface-color: #2d3748;
$surface-color-light: #4a5568;
$text-color: #e2e8f0;
$text-color-dark: #1a202c;
$error-color: #e53e3e;
$success-color: #38a169;

$font-family: 'Poppins', sans-serif;
$border-radius: 8px;